/* Editor Container Styles */
@import url('./variables.css');

.editor-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--editor-background);
  color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.editor-container.visible {
  transform: translateX(0);
}

.editor-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure editor content takes full height */
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #444;
}

.editor-title {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  background: #222;
  border: 1px solid #555;
  color: #fff;
}

.editor-tools {
  display: flex;
  align-items: center;
}

/* Color Pastilles */
.color-pastille {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-pastille:hover {
  transform: scale(1.2);
}

.color-pastille.custom-color {
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* Color Picker Popup */
.color-picker-popup {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 10px;
  z-index: 2000;
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Editor Body and Quill Container */
.editor-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff; /* Ensure the editor background is white */
  overflow: hidden; /* Hide overflow for the container */
}

.quill-container {
  flex: 1;
  background: #fff;
  color: #000;
  border-radius: 5px;
  overflow: auto; /* Enable scroll bar on overflow */
  padding: 10px;
  height: 100%; /* Ensure it takes full height */
}

.ql-container {
  font-size: 14px;
  height: calc(100% - 42px); /* Adjust to ensure it fits within the editor body */
}

.loading-indicator {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Loading bar styles */
.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: var(--save-indicator-saved);
  transition: width 0.3s ease;
}

/* Save Indicator */
.save-indicator {
  margin-left: 10px;
  padding: 5px 10px;
  background: var(--save-indicator-loading);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}

.save-indicator.saving {
  background: var(--save-indicator-saving);
}

.save-indicator.saved {
  background: var(--save-indicator-saved);
}

.save-indicator.error {
  background: #ff0000;
}
