/* NoConnectionScreen.css */
@import url('./variables.css');

.no-connection-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 234, 214, 0.8); /* Use the background color with 80% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    pointer-events: none;
  }
  
  .no-connection-message {
    font-size: 36px;
    color: var(--graph-textcolor); /* Text color */
    font-family: 'EB Garamond', Garamond, serif;
    text-align: center;
    pointer-events: none;
  }
  