@import url('./variables.css');

/* Base styles for buttons */
.retro-button {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Scale on hover */
.retro-button:hover {
  transform: scale(1.05);
}

.retro-button.inactive:hover {
  transform: none;
  filter: none;
}

/* Optional: cursor style */
.retro-button.inactive {
  cursor: default;
}
/* Plain button with no border and accent color fill */
.retro-button rect {

  stroke: none;
}

.retro-button path {
  fill: black;
  stroke: black;
  stroke-width: 3px;
}

.retro-button:hover path {
  fill: black; /* Keeps icon color black on hover */
  stroke: black; /* Keeps stroke color black on hover */
}

/* Add to your CSS */
.retro-button-container {
  position: fixed;
  bottom: 28px;
  left: 33px;
  display: flex;
  gap: 5px;
  z-index: 1000;
  pointer-events: auto;
}